:root {
	--main-header-height: 80px;
	--footer-height: 80px;
}

/* *RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px dashed black; */
	/* overflow: auto; */
}

/* *UTILS */

.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 1000px;
	max-width: 100%;
}

body {
	font-family: 'Poppins', sans-serif;
}

img {
	max-width: 100%;
	display: block;
}

a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: white;
}
ul {
	list-style-type: none;
}

svg {
	fill: currentColor;
}

/* *RESPONSIVE UTILS */
.d-none {
	display: none;
}
.d-block {
	display: block;
}
.d-inline-block {
	display: inline-block;
}

/* *WRAPPER */
.wrapper {
	display: flex;
	height: calc(100vh - var(--footer-height));
}

/* *SIDEBAR */
.sidebar {
	background-color: black;
	height: 100%;
	width: 50px;
	color: grey;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size: 1.3rem;
	overflow-y: auto;
}
.sidebar ul svg {
	width: 23px;
}

.sidebar-top li {
	margin-top: 15px;
}
.sidebar-top {
	margin-top: 10px;
}
.sidebar-bottom {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	width: 100%;
}

.sidebar a {
	text-align: center;
}

.sidebar ul li.active {
	color: white;
}
.sidebar .sidebar-bottom svg {
	width: 23px;
}

.sidebar .sidebar-bottom .img-user svg {
	width: 30px;
	background-color: grey;
	color: white;
	aspect-ratio: 1;
	border-radius: 50%;
}

.sidebar-playlist-container {
	padding-left: 20px;
	font-size: 0.9rem;
	font-weight: 600;
}
.sidebar-playlist-container h3 {
	margin-top: 20px;
	color: white;
}

.sidebar-playlist-container .create-playlist-container:hover,
.sidebar-playlist-container li:hover {
	color: white;
}

.sidebar-playlist-container .create-playlist-container:hover .plusicon {
	background-color: white;
}
.sidebar-playlist-container .plusicon {
	font-size: 1rem;
	font-weight: 700;
	color: black;
	background-color: grey;
	margin-right: 10px;
	height: 30px;
	text-align: center;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.create-playlist-container {
	display: flex;
	align-items: center;
	margin-block: 10px;
}

.sidebar-playlist-container ul {
	font-size: 0.8rem;
}

/* *MAIN */
main {
	background-color: #141922;
	width: 100%;
	color: white;
	display: flex;
	flex-direction: column;
}
main .main-body {
	padding-inline: 23px;
	overflow: auto;
}
.main-header {
	color: white;
	background-image: url(../img/output-onlinepngtools.png);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	min-height: var(--main-header-height);
	flex-grow: 0;
}

.main-header a.btn {
	border: 1px solid currentColor;
	padding: 10px 50px;
	border-radius: 20px;
	font-size: 0.7rem;
	font-weight: 600;
	margin-right: 20px;
}
.main-header a.btn:hover {
	font-size: 0.8rem;
}
main .main-body ul {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;
	font-size: 0.8rem;
	gap: 15px;
	margin-top: 20px;
	font-weight: 600;
	color: grey;
}

main .main-body ul li.active {
	border-bottom: 2px solid greenyellow;
}

/* *CARD CONTAINER */
main .main-body .cards-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

main .main-body .cards-container .card {
	position: relative;
	text-align: center;
	width: 48%;
	margin-bottom: 20px;
}

main .main-body .cards-container .card img:first-child {
	position: absolute;
	opacity: 0;
	transition: all 0.2s linear;
}
main .main-body .cards-container .card img:first-child:hover {
	opacity: 100;
}
main .main-body .cards-container .card .card-subtitle {
	font-size: 0.7rem;
	font-weight: 600;
	color: grey;
}

main .main-body h2 {
	margin-block: 30px 20px;
	font-size: 1.3rem;
}

.popular-artist img {
	border-radius: 50%;
}

.card-img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.card-img i {
	position: absolute;
	font-size: 4rem;
	z-index: 1;
	display: none;
}
.card-img .opacity {
	position: absolute;
	width: 100%;
	aspect-ratio: 1;
	display: none;
}

.card-img:hover i,
.card-img:hover .opacity {
	display: block;
}

/* *FOOTER */
footer {
	background-color: #282828;
	height: var(--footer-height);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	gap: 20px;
	z-index: 1;
}
/* *LEFT CONTAINER */
.left-container {
	width: 33%;
	display: flex;
	align-items: center;
	gap: 5px;
}

footer img {
	max-width: 40px;
}
footer .left-container .middle {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	margin-right: 20px;
}

footer .left-container .middle .song-title {
	font-size: 0.7rem;
	font-weight: 700;
}

footer .left-container .middle .album {
	font-size: 0.5rem;
}

footer .left-container .right {
	display: flex;
	font-size: 1rem;
	flex-direction: column;
	height: 100%;
	color: grey;
	gap: 5px;
}

/* *MIDDLE CONTAINER */
footer .middle-container {
	width: 33%;
}
footer .middle-container .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer .middle-container .top .fa-circle-play {
	font-size: 1.7rem;
}
footer .middle-container .bottom {
	font-size: 0.7rem;
	font-weight: 600;
	display: flex;
	margin-top: 10px;
	justify-content: space-between;
	gap: 10px;
	align-items: center;
}
.progress-bar {
	width: 100%;
	background-color: grey;
	border-radius: 5px;
}
.progress {
	width: 30%;
	border: 2px solid white;
	border-radius: 5px;
}

/* *RIGHT CONTAINER */
footer .right-container {
	width: 33%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	font-size: 0.8rem;
}

footer .right-container .progress-bar {
	width: 40%;
}

/* ^SMALL DISPLAY */
@media screen and (min-width: 639px) {
	.sidebar {
		width: 350px;
		align-items: flex-start;
	}

	.sidebar ul span {
		display: inline-block;
		font-size: 0.8rem;
		font-weight: 600;
	}

	.sidebar ul.nav li,
	.sidebar figure {
		padding-left: 20px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.sidebar ul li a {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.sidebar ul li.active {
		border-left: 2px solid greenyellow;
	}

	.sidebar .sm-logo {
		display: none;
	}
	.sidebar .lg-logo {
		display: inline-block;
		width: 60%;
	}

	.sidebar figure img {
		margin-block: 10px;
	}

	.sidebar ul svg {
		width: 30px;
	}

	.sidebar-playlist-container {
		display: block;
	}

	.sidebar hr {
		display: block;
		color: grey;
		width: 100%;
	}

	.sidebar-bottom {
		padding-inline: 20px;
		gap: 10px;
	}

	.sidebar-bottom .install {
		display: flex;
		gap: 10px;
		align-items: center;
	}

	.sidebar-bottom .install span {
		display: inline-block;

		font-size: 0.8rem;
	}
	.sidebar-bottom .img-user {
		display: flex;
		gap: 10px;
		align-items: center;
	}
	.sidebar-bottom .img-user span {
		color: white;
		font-weight: 600;
		font-size: 1rem;
		display: inline-block;
	}
}

/* ^MEDIUM DISPLAY */
@media screen and (min-width: 878px) {
	main .main-body .cards-container .card {
		width: 24%;
	}
	main .main-body .cards-container {
		justify-content: flex-start;
		gap: 7px;
	}

	.subtitle {
		color: grey;
		font-size: 0.8rem;
		position: relative;
		bottom: 20px;
		display: block;
	}
}

/* ^LARGE DISPLAY */
@media screen and (min-width: 1440px) {
	main .main-body .cards-container .card {
		width: 16%;
	}

	main .main-body nav {
		width: 600px;
		margin: 0 auto;
	}
}
